@font-face{
	font-family: 'Luxia-Display';
	src: url('fonts/luxia/Luxia-Display.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'HurmeGeometricSans4';
	src: url('fonts/hurme/HurmeGeometricSans4 Light.otf');
	font-weight: lighter;
	font-style: normal;
}
body{
	margin: 0px;
	font-family: 'HurmeGeometricSans4' !important;
}
section{
	background: #000826;
	color: white;
	min-height: 100vh;
	padding: 50px 50px 0px 50px;
}

/*animasi */
 .block {
  background: #000;
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.4;
  /* Mozilla */
  opacity: 0.4;
  /* CSS3 */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.animation { opacity:0; transition:all 200ms ease-in-out; }

.animation.fade-in { opacity:1; }

.tulisanawal p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*animasi */

h1{
	font-size: 4rem !important;	
	font-family: "Luxia-Display" !important;
}
section > h2{
	text-align: center;
}
h2{
	font-family:'HurmeGeometricSans4' !important; 
	font-weight: bold !important;
	font-size: 3rem !important;
}
h2.title{
	letter-spacing: 1rem;
}
h3{
	font-family:'HurmeGeometricSans4' !important; 
	font-size: 2rem !important;
	font-weight: bold !important;
	font-style: italic;
}
h2.with-styling:after, h3.with-styling:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background: url('img/line.png');
    width: 60px;
}
h2.with-styling:before, h3.with-styling:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background: url('img/line.png');
    width: 60px;
}
hr{
	background: url('img/line.png') !important;
	border-image: url('img/line.png') !important;
	height: 2px !important;
	opacity: 0.6
}
.half-width{
	width: 50%;
	margin-left: 0px;
}
h3 > span {
	font-size: 3rem;
	font-style: italic;
}
section.white{
	background: white;
	color: #0a0c10;
}
section.full-width{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
section.full-width > div{
	padding: 0px;
}
section.full-width > div > div.row{
	margin: 0px;
}
section.white > div > div > div > p{
	text-align: justify;
	color: #0a0c10;
	line-height: 2;
}
section#home-landing{
	font-family: "Roboto" !important;
	font-weight: lighter;
	font-size: 2rem;
	background: url('img/main_image1.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0px 0px;
}
section#home-introduction{
	background: #000826;
	padding: 50px 50px 0px 50px;
}
section#home-floor-plan-gallery{
	background: #000826;
	padding: 50px 50px 0px 50px;
}
section > div > div > div >h2 {
	font-style: italic;
	font-size: 2rem;
	text-indent: 12px;
}
section#home-floor-plan-gallery > div > div > div >h2 {
	text-align: center;
}
section#home-floor-plan-gallery > div > div > div > img {
	width: 100%;
}
section#home-introduction > div > div > div > p {
	text-align: justify; 
	line-height: 2;
}
section#home-introduction > div > div > div  {
	overflow: hidden;
}
section > div.container{
	padding: 3rem;
	padding-top: 30vh;
	min-height: 80vh;
}

section#home-landing > div.container > center > h1,p{
	color: white;
	margin: 0px;
}
section#home-landing > div.container > center > h1{
	font-size: 3rem;
}
section#home-headline > h2{
	text-align: center;
}
section#home-headline > h2{
	padding: 0px;
	margin: 0px;
	margin-bottom: 25px;
}
section#home-event > div > div > div > h3{
	text-align-last: center;
	font-style: italic;
}
section#home-location{
	padding: 0px;
}
section#home-location > h2{
	margin: 50px;
}
section#home-location > h3{
	text-align: center;
}
.floor-plan-gallery{
	border-left: solid 2px white;
	padding-left: 50px;
}
.image-introduction{
	margin-top: 5rem;
	width: 100%;
}
.scroll-button{
	margin-bottom: 0px;
	text-align: center;
}

.left{
	text-align: left !important;
}

.floor-plan-image{
	overflow: hidden;
	margin-bottom: 15px;
}

.floor-plan-image > img {
	display: inline;
	margin-left: -10px;
	padding: 0px;
}

ul {
	text-decoration-color: none;
}
li{
	list-style-type: none;
	text-decoration: none;
	margin: 25px 0px;
}
ul.no-padding > li{
	text-decoration: none;
	margin: 0px;
}

.headline-image-placeholder{
	overflow: hidden;
}
.public-places > h4 {
	font-style: italic;
}
.public-places.right-border{
	border-right: solid 2px black;
}
.public-places.left-border{
	border-left: solid 2px black;
}
.left-border{
	border-left: solid 2px black;
}
.right-border{
	border-right: solid 2px black;
}
.public-places > ul > li{
	line-height: 1;
}
.experiences-image{
	padding: 0px !important;
	margin: 0px;
}
.experiences-image > img {
	width: 100%;
}
.experiences-text {
}
.experiences-text > h2{
	font-weight: bold;
	font-size: 3rem;
}
.experiences-text > div > div > ul > li{
	font-size: 1.5rem;
	margin: 0px;
}
section#home-pt-pp-property > h2{
	text-align: left;
	font-style: italic;
	margin-left: 50px;
}
section#home-pt-pp-property > div > div > div {
	padding: 0px 50px;
	margin-bottom: 25px;
}
.pt-pp-image{
	width: 100%;
}

.sticky{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: white;
	z-index: 100;
}
.top{
	z-index: 101;
	margin-top: 30px;
}

.menu-icon{
	width: 50px;
}
nav{
	padding: 15px;
}
.scrollable-header{
	background-color: #000826;
	width: 100%;
	text-align: center;
}
.scrollable-header > img{
	height: 75px;
}

.menu-href{
	color: white;
}

.menu-href > li > a {
	color: white;
	text-decoration: none;
}

.hidden{
	display: none;
}

button.menu-icon-href{
	background: rgba(0,0,0,0);
	border: none;
}
section#home-abstract-gallery{
	margin-bottom: 25px;
}
section#gallery{
	min-height: 50vh;
}

.home-introduction-toggle-init, .home-floor-plan-gallery-toggle-init, .home-headline-toggle-init, .home-event-toggle-init, .home-abstract-gallery-toggle-init, .home-gallery-toggle-init, .home-location-maps-toggle-init, .home-about-toggle-init, .home-about-gallery-toggle-init, .home-pt-pp-property-toggle-init, .home-contact-us-toggle-init, .public-places-toggle-initf{
	display: none;
}
h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
h3 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2.with-styling:after, h3.with-styling:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background: url('img/line.png');
    width: 60px;
}
h2.with-styling:before, h3.with-styling:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background: url('img/line.png');
    width: 60px;
}
hr{
	background: url('img/line.png') !important;
	border-image: url('img/line.png') !important;
	height: 2px !important;
	opacity: 0.6
}
.half-width{
	width: 50%;
	margin-left: 0px;
}